<button nz-button nzShape="round" (click)="showModal()">登录</button>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="登录"
  (nzOnCancel)="handleCancel()"
>
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入你的邮箱！">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="userName" placeholder="邮箱" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入你的密码！">
      <nz-input-group nzPrefixIcon="lock">
        <input type="password" nz-input formControlName="password" placeholder="密码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <label nz-checkbox formControlName="remember">
        <span>记住密码</span>
      </label>
      <a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
      <button nz-button class="login-form-button" [nzType]="'primary'" (click)="loginUser()">登录</button>
    </nz-form-control>
  </nz-form-item>
</form>
  <div *nzModalFooter>
  </div>
</nz-modal>
