<div class="menu">
  <ul nz-menu nzTheme="light" nzMode="horizontal">
    <li nz-submenu nzTitle="社区主页" nzIcon="smile">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">主页</a>
          </li>
        </ul>
      </li>
    <li nz-submenu nzTitle="我的" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/userdetail">个人详情</a>
          </li>
        </ul>
      </li>
    <li nz-submenu  nzTitle="社交" nzIcon="message">
      <ul>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/forum">论坛</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/chatroom">聊天室</a>
        </li>
      </ul>
    </li>
  <li nz-submenu  nzTitle="报修" nzIcon="dashboard">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/repair">报修</a>
      </li>
    </ul>
  </li>
  <li nz-submenu  nzTitle="疫情辟谣" nzIcon="heat-map">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/feiyan">疫情辟谣</a>
      </li>
    </ul>
  </li>
</ul>
</div>
