<div class="forum">
  <div class="forumTitle">M J 社 区 论 坛</div>
  <div class="main">
    <div class="edit">
      <button nz-button nzType="primary" nzGhost class="tiezi" routerLink="/editor">发个帖子</button>
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="搜索帖子" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
      <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading" class="list">
        <ng-template #item let-item>
          <nz-list-item class="listitem">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzAvatar]="nzAvatar"
              [nzDescription]="nzDescription"
            >
            <ng-template #nzAvatar> <img [src]="item.author.avatar" class="avatar"> </ng-template>
              <ng-template #nzTitle>
                <a href="https://ng.ant.design">{{ item.title }}</a>
              </ng-template>
              <ng-template #nzDescription>{{ item.description }}</ng-template>

            </nz-list-item-meta>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>
