<div class="forum">
  <div class="forumTitle">M J 社 区 论 坛</div>
  <div class="main">
    <div class="edit">
      <button nz-button nzType="primary" nzGhost class="tiezi" routerLink="/editor">发个帖子</button>
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="搜索帖子" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
    </div>
  </div>
</div>
