[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}
.banner{
  background-color: #eee;
  width: 100%;
  height: 480px;
}
.carousel {
  height: 100%;
  margin: 0 auto;
}
.contain{
  width: 100%;
  height: 480px;
}
.contain .menu{
  width: 100%;
  height: 36px;
  background-color: lightgreen;
  color:#fff;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
}
.carousel img {
  width: 100%;
}
.point {
  cursor: pointer;
}
