<div nz-row class="index__header">
  <div nz-col [nzSpan]="18" [nzPush]="6">
    <div class="banner">
      <div class="carousel" >
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content *ngFor="let index of array" >
            <img [src]="index.url" alt="" />
          </div>
        </nz-carousel>
      </div>
    </div>
  </div>
  <div nz-col [nzSpan]="6" [nzPull]="18">
    <div class="contain">
      <div class="menu">MJ社区新闻</div>
      <h3 [ngStyle]="{ margin: '16px 0' }"></h3>
      <nz-list [nzDataSource]="data" nzBordered nzSize="large" [nzHeader]="'社区新闻'" [nzRenderItem]="item">
        <ng-template #item let-item>
          <nz-list-item [nzContent]="content" class="point">
            <ng-template #content>
              <div routerLink="/newdetail" [queryParams]="{id:item._id}">{{ item.title }}</div>
            </ng-template>
          </nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>
<div nz-row sytle="">
  <div nz-col nzSpan="12">
    <div class="contain">
      <app-forum></app-forum>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <div class="contain">
      <app-chatroom></app-chatroom>
    </div>
  </div>
</div>
