<div nz-row>
  <div nz-col nzSpan="24">
    <div class="banner" [ngStyle]="{'height': height + 'px'}">
      <div class="carousel" [ngStyle]="{'width': width +'px'}">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content *ngFor="let index of array" >
            <img [src]="index.url" alt="" />
          </div>
        </nz-carousel>
      </div>
    </div>
    <div class="contain">
      <div class="menu">MJ社区新闻</div>
      <h3 [ngStyle]="{ margin: '16px 0' }"></h3>
      <nz-list
        [nzDataSource]="data"
        nzBordered
        nzSize="large"
        [nzHeader]="'社区新闻'"
        [nzFooter]="'感谢收看'"
        [nzRenderItem]="smallItem"
      >
        <ng-template #smallItem let-item>
          <nz-list-item [nzContent]="item.title" class="point" routerLink="/newdetail"  [queryParams]="{id:item._id}"></nz-list-item>
        </ng-template>
      </nz-list>
    </div>
  </div>
</div>
