.mydetail {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
h2 {
  font-weight: bold;
  font-size:20px;
}
.usershow img{
  width: 90px;
  height: 90px;
  border-radius: 45px;
}
h3>p {
  font-weight: bold;
  font-size: 18px;
}
button {
  display: block;
  margin: 20px auto;
}
i[nz-icon] {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 8px;
  color: #666;
}
