.userdetail{
  background-color: #f6f6f6;
  color: #80BD01;
  padding: 10px;
  margin: 0 10px 0 0;
}
.userindex {
  background-color: #f6f6f6;
  color: #80BD01;
  padding: 10px;
  margin: 0 10px 0 0;
}
