.userdetail{
  width: 1000px;
  height: 800px;
  margin: 0 auto;
}
.userdetail .detail{
  margin-right: 60px;
  height: 600px;
  width: 60%;
  background-color: aquamarine;
  display: inline-block;
}
.userdetail .avatr{
  height: 600px;
  width: 30%;
  background-color: #666;
  display: inline-block;
}
