<div nz-row class="mydetail">
  <div nz-col nzSpan="24">
    <h2>个人主页</h2>
    <div class="usershow">
      <h3>头像:</h3>
      <img [src]="avatarUrl" alt="">
      <h3>用户名: <p>{{ username }}</p> </h3>
    </div>
    <h2>个人简介</h2>
    <p>{{ userdes }}</p>
    <div class="createtime">
      注册时间:{{createtime}}
    </div>
    <h2>最近参与的帖子</h2>
    <div>暂无</div>
    <h2>创建的帖子</h2>
    <div>暂无</div>
  </div>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="更改个人信息" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    用户名:<input nz-input placeholder="Basic usage" [(ngModel)]="username" />
    头像: <nz-upload
    class="avatar-uploader"
    nzAction="api/upload"
    nzName="file"
    nzListType="picture-card"
    [nzShowUploadList]="false"
    (nzChange)="handleChange($event)"
  >
    <ng-container *ngIf="!avatarUrl">
      <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
      <div class="ant-upload-text">Upload</div>
    </ng-container>
    <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar" />
  </nz-upload>
    个人简介: <input nz-input placeholder="Basic usage" [(ngModel)]="userdes" />
  </nz-modal>
  <button nz-button [nzSize]="size" (click)="showModal()">更改个人信息</button>
</div>
