<div class="forumdetail">
  <div class="detail">
    <h2>{{ detail.forum.title }}</h2>
    <p class="auther" (click)="open()">作者:{{ detail.auther.user }}</p>
    <nz-drawer
      [nzClosable]="false"
      [nzVisible]="visible"
      nzPlacement="right"
      nzTitle="作者详情"
      (nzOnClose)="close()"
    >
    <div>
      <div class="usershow">
        <h3>用户名: <p>{{ detail.auther.user }}</p> </h3>
      </div>
      <h2>个人简介</h2>
      <p>{{ detail.auther.description }}</p>
      <h2>
        注册时间:
      </h2>
      {{ detail.auther.createTime }}
      <h2>最近参与的帖子</h2>
      <div>暂无</div>
      <h2>创建的帖子</h2>
      <div>暂无</div>
    </div>
    </nz-drawer>
    <div class="text" [innerHTML]="detail.forum.content">
    </div>
    <div class="bottom">

    </div>
  </div>
  <div class="green__line"></div>
  <div class="allcomment">
    <nz-list [nzDataSource]="detail.comment.comments" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" [nzLoading]="loading">
      <ng-template #item let-item>
        <nz-list-item>
          <nz-list-item-meta
            [nzTitle]="item.userName"
            [nzAvatar]="item.avatar"
            [nzDescription]="item.content"
          >
          </nz-list-item-meta>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
  <div class="comment" *ngIf="isShowComment">
    <textarea rows="4" nz-input [(ngModel)]="comment"></textarea>
    <button nz-button nzType="primary" (click)="giveComment()" *ngIf="!inComment">评论</button>
    <button nz-button (click)="giveComment()" *ngIf="inComment" disabled>评论</button>
  </div>
  <div  class="interaction" >
    <nz-badge nzColor="#2db7f5">
      <img src="../../assets/评论.png" (click)="showComment()" title="评论">
    </nz-badge>
    <nz-badge nzColor="#87d068">
      <img src="../../assets/爱心.png" (click)="givePraise()" title="点赞">
      赞:{{ praises }}
    </nz-badge>
    <nz-badge nzColor="pink">
      <img src="../../assets/踩.png" (click)="giveStep()" title="踩">
      踩:{{ step }}
    </nz-badge>
  </div>
</div>
