.repair {
  width: 90%;
  margin: 12px auto;
  padding: 24px;
  background-color: #ADD8E6;
  box-shadow: 2px 0 2px #999;
}

.box {
  margin: 0 auto;
}

[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

nz-select {
  margin: 0 0 10px 8px;
  width: 120px;
}
.question {
  width: 300px;
  margin: 0 auto;
}
button {
  margin-top: 5px;
  margin:5px 0px 5px 240px;
}
